/* subscript */
sub {
    top: 0.6ex;
}
sup, sub {
    position: relative;
    vertical-align: 0;
}
sup 
{
	bottom: 1ex; 
}

/* --- Divs used for page structure ---*/
a img, img{
 border: 0;
}


.SiteMapTable td
{
	vertical-align: top;
	text-align: left;
}
.xformvalidator
{
	color: Red;
}

.DisplayInline
{
	display: inline !important;
}

#ContainerDiv
{
	width: 100%;
	/*margin: auto;
	margin-top: 0px;*/
}
#LogoContainer
{	
	position: absolute;
	top: 26px;
	margin-left: 20px;
}
#QuickSearchDiv
{
	width: 360px;
	float: right;
	position: relative;
	top: 10px;
	padding-right: 8px;
	padding-left: 20px;
}
#ToolBar
{
	float: right;
	/*-- padding-right: 80px;--*/
	position: relative;
	top: 42px;
}
#ToolBar .NameLabel
{
	color: #A4A48C;
	padding-right: 8px;
	padding-bottom: 10px;
}
#QuickBar
{
}
#QuickBar span
{
	border-left: 1px solid #CCD6E0;
	padding: 0px 4px 0px 8px;
}
#QuickBar a
{
	color: #003366;
}
#QuickBar a:hover
{
	color: #D70000;
	text-decoration: none;
}
#MainContainerDivBG
{
	text-align: center;
}
#MainContainerDiv
{
	width: 994px;
	margin: auto;
	text-align: left;
	
}
#MainContainerDiv p
{
	margin-top: 0px;
}
#MainAreaDiv .TextContent p
{
	margin-top: 0px;
}
#MainAreaDiv .TextContent table tr td
{
}

#FullRegion
{
	width: 100%;
	table-layout: fixed;
	margin-top: 10px;
}
#FullRegion tr.MainRow td
{
}
#FullRegion td.Border
{
	border-left: 1px solid #DCE2E7;
}
#LeftMenuDiv
{
	margin-bottom: 12px;
}
#LeftRegion
{
	width: 204px;
	height: 100%;
	vertical-align: top;
}
#LeftRegionDiv
{
	height: 100%;
	width: auto;
}
.LeftRegionMargin
{
	width: auto;
	margin-right: 5px;
	margin-left: 5px;
	height: 100%;
}
#LeftSubRegion
{
	height: 0%;
	vertical-align: bottom;
}
#MainArea
{
	width: auto;
	vertical-align: top;
}
#MainAreaDiv
{
    padding: 0 10px;
}
#MainAreaDiv .Border
{
	border-left: 1px solid #DCE2E7;
	vertical-align: top;
}
#FooterArea
{
	width: auto;
/*	background-image: url(grey_pixel.gif);
	background-repeat: repeat-y; 
	background-position: left center;*/
	vertical-align: bottom;
}
#RightMenuDiv
{
}
#RightRegion
{
	width: 204px;
	vertical-align: top;
}
#RightRegionDiv
{
	margin-left: 8px;
}
#FooterDiv .Body
{
	margin-left: 204px;
	padding-left: 8px;
}


/* -- Standard divs --*/
div.LeftFloating
{
	float: left;
}
div.RightFloating
{
	float: right;
}
.Centered
{
	text-align: center;
}
div.RightAligned
{
	text-align: right;
}
.Hidden
{
	display: none;
}
img.BorderLess
{
	border: 0;
}

/* Default image-margin in text */
/*#MainAreaDiv .ContentListingCol img, */
#MainAreaDiv .TextContent img
{
	margin: 4px 8px 4px 8px;
}
/* -- Form -- */
.Button
{
	font-family: Verdana;
	border: 1px solid #B9C5D4;
	background-color: #EBEFF3;
	color: #6685A3;
	font-size: 100%;
	padding-left: 4px;
	padding-right: 4px;
	background-image: url(/images/sintef/button-bg.gif);
	background-position: center center;
}
.InputText
{
	border: 1px solid #B9C5D4;
	font-size: 100%;
}
.InputSelect
{
	border: 1px solid #B9C5D4;
	font-size: 100%;
}
	
.NewInputText
{
	border: 1px solid #B9C5D4;
	padding: 7px;
	font-size: 100%;
	width: 79%;
}
input.NewSearchInput
{
	border: 1px solid #B9C5D4;
	font-size: 80%;
}
input.NewSearchButton
{
	font-family: Verdana;
	font-size: 90%;
	text-transform: uppercase;
	background-position: center center;
	border: 1px solid #6685A3;
	padding: 7px 16px;
	background-color: #6685a2;
	color: #ffffff;
	width: 15%;
}

/* -- Quick search -- */
input.QuickSearchInput
{
	width: 15em;
	border: 1px solid #B9C5D4;
	font-size: 80%;
	padding:1px;
}
input.QuickSearchButton
{
	font-family: Verdana;
	/*border: 1px solid #C3D2E1;
	color: #EBEFF3;
	background-color: #6685A3;*/
	font-size: 90%;
	text-transform: uppercase;
	background-position: center center;
	border: 1px solid #6685A3;
	background-color: #CCD6E0;
	color: #003366;
	padding-left:6px;
	padding-right:6px;
}
.autoWTop
{
	width: auto;
	vertical-align: top;
}

#MainSearchArea
{
	width: 100%;
	vertical-align: top;
}

.SearchSection
{
	text-align: left;
	margin-bottom: 2px;
	float: right;
	/*-- margin-left: 8px; --*/
}
.SearchLabel
{
	color: #003366;
	font-size: 110%;
}

/*---Listing headers (Startpage and LeftMenu head)----*/
a.ListHeading
{
	font-weight: bold;
	color: #003366;
	text-decoration: none;
	display: block;
}

/*---Site map items---*/
tr.SiteMapHeader
{
	background-color: #dedede;
	font-weight: 600;
	padding-left: 0.2em;
}

.Container
{
	padding: 2px 8px 8px 8px;
	margin-bottom: 8px;
}
.Container ul.LinkList
{
	list-style-position: outside;
	list-style-type: none;
	list-style-image: none;
	padding: 0px;
	margin: 0px;
}
.Container ul.LinkList li
{
	padding-bottom: 4px;
}
.Container ul.LinkList .Meta
{
	font-size: 90%;
	color: #7A8A9B
}
table.ContentListing
{
	height: 100%;
}
table.ContentListing td
{
	width: 50%;
}
.ContentListing .Border
{
	border-left: 1px solid #DCE2E7;
	vertical-align: top;
}
.ContentListingCol
{
	padding: 0px 8px 26px 8px;	
}
.ContentListingCol h1
{
	margin-bottom: 4px;
}
.ContentListingItem
{
	margin-bottom: 0px;
}
.ContentListingItem .TextSection
{
	padding-left: 60px;
}
.ContentListingItem .Body
{
}
.ContentListingItem .Image img
{
	float: left;
	width: 50px;
	border: 0px;
	margin: 0px 0px 0px 0px;
}
.ContentListingItem a.MoreLink
{
	color: #ff6600;
	background-image: url(/images/sintef/menu-Selected.gif);
	background-repeat: no-repeat;
	background-position: left center;
	text-decoration: none;
	padding-left: 12px;
}
.ContentListingItem a.MoreLink:hover
{
	text-decoration: underline;
}
.SectionTitle
{
	font-size: 150%;
	color: #003366;
	font-family: Arial, Helvetica, sans-serif;
	word-wrap: break-word;
}
.SectionTitle a, .SectionTitle a:visited span
{
	color: #003366;
}
.SectionTitle a:hover span
{
	color: #D70000;
}
.DefaultListing
{
	width: 100%;
	overflow: hidden;
	
	
}

.DefaultListing td
{
	padding: 3px 4px 3px 4px;
}
.DefaultListing .Content
{
	
	vertical-align: bottom;
}

.DefaultListing .Content tr:hover
{
	 background-color:Maroon;
}

.DefaultListing .Content td
{
	background-image: url(/images/sintef/dotted.gif);
	background-repeat: repeat-x;
	background-position: left bottom;	
	/*font-weight: bold;*/
}

.DefaultListing .Content td .Description
{
	font-weight: normal;
}
.DefaultListing .Content a
{
	text-decoration: none;
}

.DefaultListing .Content .Marked
{
	color: #FF6600;
}
.DefaultListing .Header
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #7590AB;
	padding: 4px 8px 0px 4px;
}
.DefaultListing .Header td
{
	border-bottom: 1px solid #DCE2E7;	
}
.DefaultListing .Header a
{
	text-decoration: none;
	color: #FFFFFF;
	padding-right: 12px;
	background-image: url(/images/sintef/sort.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.DefaultListing .Header .Sorted a
{
	background-image: url(/images/sintef/sorted.gif);
}
.DefaultListing .Header a:visited
{
	color: #FFFFFF!important;
}
.DefaultListing .Header a:hover
{
	color: #FFFFFF!important;
}
.DefaultListing .DescriptionCol
{
}
.DefaultListing .DescriptionCol .Description
{
	width: 472px;
	overflow: hidden;
}
div.Pager, div.PagingContainer
{
	padding-top: 8px;
	padding-bottom: 8px;
	clear: both;
}

.Pager a, .PagingContainer .PagingItem
{
	padding: 2px;
}

.Pager span, .PagingContainer a.SelectedPagingItem
{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #FF6600;
}

#MainAreaDiv .PagingContainer a:visited.SelectedPagingItem 
{
	color: #FFFFFF;
}

#TabTable td
{
	/*border: 0px solid #999;
	padding: 0.1em 1em;*/
	width: 130px;
}


/* General table listings */
.TableListing td
{
	padding: 4px 2px 4px 2px;
	border: none;
}
.TableListing tr.Content td
{
	vertical-align: top;
}
.TableListing td.Link
{
	border: 1px solid white;
	border-bottom: 1px solid white;
}
.TableListing tr.Content .Date, .TableListing tr.Content .Location
{
	font-size: 90%;
	color: #103468;
	white-space: nowrap;
}
.ContactInfo
{
}
.FormTableOuter
{
	padding: 8px;
	border: 1px solid #DCE2E7;
	background-color: #F4F4EF;
	/*margin-top: 8px;
	margin-bottom: 8px;*/
}
.FormTable
{
}
.Header
{
	margin-bottom: 16px;
}

/* General link-buttons */
.LinkButtonContainer
{
	padding: 4px 0px 4px 0px;
	text-align: right;
}
.LinkButtonContainer a
{
	padding-right: 12px;
}
.LinkButton
{
}

.LinkButtonContainer .floatRight 
{
	float: right;
}


/* Search section */
.SearchResultCategory
{
	margin-bottom: 24px;
}
.SearchResultCategory .CategoryTitle
{
	font-size: 120%;
	font-weight: bold;
}
.SearchBox
{
}

.SearchBox .Label
{
	font-weight: bold;
}


.QuerySection
{
    margin-top: 60px;
	margin-bottom: 0px;
}
.QuerySection .inputFields
{
    width: 230px;
}
.QuerySection .Label 
{
    color: #0f4169;
    font-weight: bold;
}
.QuerySection tr 
{
    padding: 2px;
}
.QuerySection hr.dotted  
{
    background:none;
    border:none;
    border-bottom: 2px dotted #afbad1;
}

.ContentList .Block
{
	width: 100%;
	margin-bottom: 16px;
}
.ContentList .Label
{
	float: left;
	width: 200px;
	clear: left;
	font-weight: bold;
}
.ContentList .Value
{
	float: left;
}
.ContentTable
{
}
.ContentTable td
{
	padding: 8px 4px 8px 4px!important;
}
.ContentTable .Block
{
}
.ContentTable .Label
{
	width: 180px;
	font-weight: bold;
	vertical-align: top;
}
.ContentTable .Value
{
}
.ImageContainer
{
	overflow: hidden;
}
.SectionContainer
{
	overflow: hidden;
}

/* --- Search css ---*/

#MainStructureDiv 
{
    margin: 0px 40px;
}

#Search
{
    margin-left: 30px;
    margin-right: 30px;

}

#SearchRegion 
{
    width: 100%;
	table-layout: auto;
	margin-top: 10px;
}
#searchResults
{

}
#searchResultsListing {
	/*width:100%;*/
	/*padding-top: 15px;*/
	vertical-align: top;
	/*background-color:#00CC66;*/
}
#searchResultsFilter 
{
    /*padding-top: 15px;*/
    padding-right: 0px;
    padding-left: 5px;
    vertical-align: top;
	/*background-color:#CCCCFF*/
}
#SearchResults .tittel {
    margin-top: 5px;
}
#SearchResults .detaljer {
    margin-bottom: 15px;
}
.frontsearch-highlight {
    font-weight: bold;
}
.ResultControl
{
	overflow:hidden;
}

.searchResultsTableHeader  a
{
	color: White;
	background: url(/images/sort.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 20px;	
}

/* -- Quick search -- */
input.QuickSearchInput
{
	width: 14em;
	border: 1px solid #CCD6E0;
	font-size: 1.1em;
	padding: 3px;
}
input.QuickSearchButton
{
	border: 1px solid #6685A3;
	background-color: #CCD6E0;
	color: #003366;
	font-size: 1em;
	text-transform: uppercase;
	width: 5.5em;
	height: 2em;
	padding-bottom: 2px;
	text-align:center;
}

.QuickSearchRadioButtons td label
{
	vertical-align:middle;
		
}

table.QuickSearchRadioButtonList td 
{
	vertical-align:bottom;
}

table.QuickSearchRadioButtonList input 
{
	vertical-align:middle;
	margin: 0px 3px 0px 0px;	
	padding: 0px 0px 0px 0px;
	border: solid 0px black;
	height:15px;
	width:15px;
	text-align:left;
	display: inline !important;	
}

table.QuickSearchRadioButtonList label 
{
	margin: 0px 3px 0px 0px;
	color: #003366;
}

table.QuickSearchRadioButtonList label:hover 
{
	color: #ff6600;
}

.SearchSection
{
	text-align: left;
	margin-bottom: 2px;
	float: right;	
}

.SearchLabel
{
	color: #036;
	font-size: 1em;
}

/* End quickSearch */

td.Sorted a
{
	background: url(/images/sorted.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 20px;
}

td.SortedDesc a
{
	background: url(/images/sorted_desc.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 20px;
}

FIELDSET{
 border-color:#a5a9ac;
 border-width:0 0 1px 0;
 border-style:dashed;
 margin:0 0 15px 0;
} 

.ContentTable TD 
{
  line-height:1.4em;
  padding:4px!important;
  margin:0;
}

.publikasjon 
{
	background: #e3e8ee;
	margin-top: -10px;
}

.publikasjon h1
 {
	font-size: 1.8em;
	padding: 10px;
 }
 
 .publikasjon .Body
 {
	background: white;
	padding: 10px;
 }
 
 .publikasjon fieldset
 {
	padding: 10px;
	background: #e3e8ee; 
	border: none;
 }
 
 .publikasjon fieldset.odd
 {
	background: none;
 }
 
 .publikasjon td.Value
 {
	
	line-height: 1.4em;
 }
 
 .publikasjon td.Value div
 {
	border-bottom: 1px solid #e3e0d9;
 }
 
 .publikasjon tr.sammendrag > td div, .publikasjon tr.forfatter td > div, .publikasjon tr.avd  td > div
 {
	border: 0px;
 }
 
 
#projectwebAddThis {
    margin: 5px 0px 10px 0px;
}