.cookie-consent {
    position: fixed;
    border-top: 1px solid #999999;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #FFF;
    z-index: 999999;
}

.cookie-consent__content {
    margin: 0 auto;
    display: block;
    max-width: 1026px;
    padding: 27px;
}

.cookie-consent__accept-button {
    border: 1px solid #999999;
    background-color: #eeeeee;
    cursor: pointer;
    margin-top: 27px;
    padding: 0.5em;
}
