/*
	Specific.css 	
	General stylesheet for all themes.
*/

/* Global styles - override editor.css */

#searchResultsFilterBox
{
	display: none;
}

a
{
	text-decoration: none;
}
a:hover
{
}
input, textarea
{
	color: #000000;	
}
h1, .heading1, .Ingress .Title
{
	color: #404040;
}
h2, .heading2, .Ingress .Title
{
	color: #404040;
}
h3, .heading3, .Ingress .Title
{
	color: #404040;
}
.figure
{
}

/* Structure */
.ProjectFrontpage #MainAreaDiv
{
	margin-left: 12px;
}
#MainAreaDiv a:visited, #RightRegion a:visited, .TextContent a:visited
{
}
#MainContainerDiv a:visited:hover
{
}
#ContainerDiv
{
}
#MainContainerDivBG
{
	width: 100%;
}	
#MainContainerDiv
{
	color: #000000;
}
#TopContainerWide
{
}
#TopContainer
{
	/*
	padding: 12px;
	height: 20px;
	min-height: 20px;*/
}
html > body #TopContainer
{
	height: auto;
}
#TopMenuWide
{
	background-color: #999999;
	background-image: url(pixel_white.gif);
	background-position: top left;
	background-repeat: no-repeat;
	height: 100%
}
#TopMenuWide ul#TopMenu
{
	list-style: none;
	overflow: hidden;	
}
#TopMenuWide ul#TopMenu li
{
	
	float: left;
	padding: 8px 16px 4px 16px;
}

#TopMenuWide ul#TopMenu li.selected
{
	background-color: #FFFFFF;
	-moz-border-radius-topleft: 3px; 
	-moz-border-radius-topright: 3px; 
	-webkit-border-radius-topleft: 3px;
	-webkit-border-radius-topright: 3px;
	
}
#TopMenuWide ul#TopMenu li a
{
	color: #FFFFFF;
}
#TopMenu
{
	font-size: 13px;
	padding: 10px 0 0 0;
	background-image: url(pixel_white.gif);
	background-position: top right;
	background-repeat: no-repeat;
}
.MenuHead, .ActiveMenuHead
{	
	background-image: url(pixel_gray.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	text-decoration: none;
	padding: 8px 16px 4px 16px;
}

.MenuHead.First, .ActiveMenuHead.First
{
}
.MenuHead
{
	color: #FFFFFF;
}
.ActiveMenuHead
{
	background-color: #FFFFFF;
}
.MenuHead:hover, .ActiveMenuHead:hover
{
}
.MenuHead:hover
{
	/*
	color: #FFFFFF!important;
	text-decoration: underline;
	*/
}
div.linkMenu ul
{
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
div.linkMenu ul li
{
	background-color: #CDCBCC;
	border-bottom: solid 2px #FFFFFF;
}
div.linkMenu ul li ul li:first-child
{
	border-top: solid 2px #FFFFFF;
}
div.linkMenu ul li ul li:last-child
{
	border-bottom: 0;
}
div.linkMenu ul li a
{
	color: #292929;
	display: block;
	padding: 3px 0 3px 14px;
}
div.linkMenu ul li li a
{
	padding-left: 25px;	
}
div.linkMenu ul li a.selected
{
	background-color: #FFFFFF !important;
}

div.linkMenu ul li div.expandable
{
	background: url("/styles/WebForms/Themes/arrow_dark.gif") no-repeat 6px center;
}

.NextMenuHead
{
	padding-top: 7px;
	border-left: 1px solid #FFFFFF;
	/*
	background-image: url(line_vertical_white.gif)!important;
	background-position: 0px 1px!important;
	background-repeat: no-repeat!important;
	*/
}
#BreadCrumbWide
{
	font-size: 94%;
	width: 100%;
}
#BreadCrumb
{
	padding: 6px 12px 2px 12px;
}
#BreadCrumb a
{
	text-decoration: none;
}
#BreadCrumb a.Selected
{
	font-weight: bold;
}
#AlernativeBreadCrumb
{
	font-size: 100%;
	width: 100%;
	background-image: url(pixel_white.gif);
	background-position: top left;
	background-repeat: no-repeat;
}
#AlernativeBreadCrumb #BreadCrumb
{
	background-image: url(pixel_white.gif);
	background-position: top right;
	background-repeat: no-repeat;
	padding: 16px 16px 4px 16px;
	color: #FFFFFF;
}
#AlernativeBreadCrumb #BreadCrumb a
{
	text-decoration: none;
	color: #FFFFFF;
}
#AlernativeBreadCrumb #BreadCrumb a:hover
{
	color: #FFFFFF!important;
	text-decoration: underline;
}
#AlernativeBreadCrumb #BreadCrumb a.Selected
{
	font-weight: bold;
}
#AlernativeBreadCrumb #BreadCrumb .BreadCrumbLabel
{
	color: #FFFFFF;
}
#FooterDiv
{
	padding: 4px 0px;
	text-align: center;
	width: 100%;
	/*margin-bottom: 16px;*/
}
#FullRegion
{
	margin-bottom: 4px;
}
.ProjectFrontpage #FullRegion 
{
	clear:left;
}
.ProjectFrontpageSimple #MainContainerDivBG
{
}
div.MenuItem
{
	width: 100%;
	padding: 0px;
	margin-bottom: 2px;
	font-size: 13px;
}
div.MenuItem .MenuEnd
{
	margin-right: 4px;
}
div.MenuItem a.MenuLink
{
	background-repeat: no-repeat;
	background-position: 4px 8px;
	text-decoration: none;
	display: block;
	padding: 3px 0px 3px 0px;
	margin-right: 4px;
}
div.MenuItem a.MenuLink:hover
{
}
div.MenuItem.NoBorder a.MenuLink
{
}
div.MenuItem.Parent a.MenuLink
{
	background-image: url(arrow_dark.gif);
}
div.MenuItem.SelectedParent a.MenuLink, div.MenuItem.Expanded a.MenuLink
{
	background-image: url(arrow_dark_down.gif);
	background-color: #FFFFFF;
}
div.MenuItem.Selected a.MenuLink, div.MenuItem.SelectedParent a.MenuLink, div.MenuItem.Expanded a.MenuLink
{
	background-color: #FFFFFF;	
}
div.MenuItem.Selected a.MenuLink:hover, div.MenuItem.SelectedParent a.MenuLink:hover, div.MenuItem.Expanded a.MenuLink:hover
{
}
.SubLevel
{
}
.SubLevelInner
{
}
.SubLevel div.MenuItem a.MenuLink
{
}
.SubLevel div.MenuItem a.MenuLink:hover
{
}
.SubLevel div.MenuItem.Selected a.MenuLink, .SubLevel div.MenuItem.SelectedParent a.MenuLink
{
	background-color: #FFFFFF;
}
.SubLevel div.MenuItem a.MenuLink:hover, .SubLevel div.MenuItem a.MenuLink:hover
{
}

.SectionContainer
{
}
#MainArea .SectionLabel, #FullRegion .SectionLabel
{
	padding: 2px 8px 2px 8px;
}
#LeftRegion .SectionLabel, #RightRegion .SectionLabel
{
	padding: 1px 6px 1px 6px;
}

.HeaderContainerOuter
{
	margin-bottom: 24px;
}
.HeaderContainer
{
}
.HeaderContainerInner
{
}
.ProjectFrontpageSimple .HeaderContainer
{
}
.ProjectFrontpageSimple .HeaderContainerInner
{
}
.HeaderContainer h1.HeaderTitle
{
	margin-bottom: 8px;
}
.SubContainer
{
	padding: 8px;
}
.FirstCol
{
	padding-left: 0px;
}
.LastCol
{
	padding-right: 0px;
}
.SubContainer .BodyContainer
{
	padding: 12px;
	margin-bottom: 8px;
	height: 100px;
	min-height: 100px;
}
html>body .SubContainer .BodyContainer
{
	height: auto;
}
.SubContainer h2.SubTitle
{
	padding: 0px 12px 4px 12px;
	font-size: 124%;
	margin-bottom: 8px;
}
.SubContainerCol
{
}
.MarkedContainer .SectionLabel
{
	margin-bottom: 4px;
}
.MarkedContainer .Container
{
}
.SearchSection
{
	clear: right;
}
.EmployeeCard
{
	margin-top: 26px;
	width: 90%;
}
.EmployeeCardInfo td
{
	font-size: 100%;
	padding-bottom: 8px;
	padding-right: 8px;
	vertical-align: top;
}
.EmployeeCard .EmployeeImage {
    float: right;
    width: 276px;
    margin-top: -3em;
}
.EmployeeCardInfo > div {
    line-height: 1.7em;
}
.EmployeeCardInfo .label {
    display: inline-block;
    width: 90px;
    padding-right: 15px;
    font-weight: bold;
}
.EmployeeImageContainer
{
	border: 1px solid #E9E9E0;
	float: right;
}
.EmployeeImageContainer img
{
	border: 2px solid #FFFFFF;
}


div#MainAreaDiv div.Ingress
{
    margin-bottom: 20px;
}
div#MainAreaDiv span.MainImage
{
	float: right;
	font-style: italic;
	margin-left: 12px;
	width: 250px;
}
div#MainAreaDiv span.MainImage img
{
    float: right;
}
div#MainAreaDiv span.MainImage p
{
    clear: both;
}
div#MainAreaDiv div.Ingress span.Ingress
{
	font-size: 12px;
	font-weight: bold;
}
